.footer-bg {
  &__mobile {
    background-image: url('/footer-mb.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: top center;
  }
}
