body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-[#ffffff];
}

/* Container */
.container {
  @apply px-[32px];
}

/* Swiper Global Styles */
.swiper {
  display: flex;
  flex-direction: column-reverse;
  @apply gap-[20px] lg:gap-[60px];

  &-pagination {
    padding-left: 20px;
  }

  &-wrapper {
    width: 100%;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #030916;
  background: white;
}

::selection {
  color: #030916;
  background: white;
}

.ifs-box-area {
  background-color: transparent;
  padding-bottom: 10px;
}

.ifs-box-area > p > h1 {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #60e5fa;
}

.ifs-box-area > p {
  background-color: rgb(57, 43, 43);
  opacity: 0.8;
  color: white;

  /* border: thin; */
  /* color: #3ec1d5; */
  text-align: left;
  font-size: 17px;
  width: 100%;
  height: 277px;
}
